

.content-right {
  flex: 2;
}

.content-right h1 {
  color: #051e42;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.content-right p {
  font-size: 1rem;
  line-height: 1.6;
  /* margin-bottom: 30px; */
  max-width: 600px;
}

.pricing-page-service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-left {
  flex: 1;
  margin-right: 40px;
}

.img-left img {
  height: 400px;
  width: 540px;
  object-fit: cover;
  border-radius: 10px;
}

.pricing-page-service-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px;
  
}

.price-table {
  min-width: 750px;
  border-collapse: collapse;
  width: 100%; /* Make the table take up the full width of its container */
  height: 100px; /* Allow the table to adjust its h */
}

.price-table th,
.price-table td {
  padding: 20px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.price-table th {
  background-color: #f9f9f9;
  font-weight: bold;
}

.price-table tbody tr:hover {
  background-color: #f1f1f1;
}

.price-table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.price-table tbody tr:last-child td {
  border-bottom: none;
}

.price-table thead th {
  background-color: #fff3e0;
  color: #000;
  border-bottom: 2px solid #ddd;
}

.pricing-page-service-detail-right {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pricing-page-service-detail-right a {
  align-items: center;
  background: #fff2f1;
  border: 0.5px solid #111;
  border-radius: 8px;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 5px;
  transition: background ease 0.3s;
}

.pricing-page-service-detail-right a:hover {
  background-color: #fededc;
}

.pricing-page-service-detail-right a:active {
  background-color: #ffe8e6;
  outline: 0;
}