.user-profile-pet-item {
    border: 0.5px solid black;
    padding: 15px;
    color: black;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px black;
    transition: box-shadow 0.3s ease
}

.user-profile-pet-item:hover {
    box-shadow: 3px 4px black;
}

.user-profile-pet-item-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.user-profile-pet-item-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 0;
    font-size: 18px;
}

.pet-male-icon {
    fill: blue !important;
}

.pet-female-icon {
    fill: rgb(255, 104, 129) !important;
}

.user-profile-pet-item-breed {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}

.user-profile-pet-medical,
.user-profile-pet-edit,
.user-profile-pet-delete {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    position: relative;
}

.user-profile-pet-edit {
    color: green;
}

.user-profile-pet-delete {
    color: red;
}

.user-profile-pet-medical::after,
.user-profile-pet-edit::after,
.user-profile-pet-delete::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    transition: width 0.3s ease;
}

.user-profile-pet-medical:hover::after {
    width: 100%;
    border: 0.5px solid black;
}

.user-profile-pet-edit:hover::after {
    width: 100%;
    border: 0.5px solid green;
}

.user-profile-pet-delete:hover::after {
    width: 100%;
    border: 0.5px solid red;
}

.medical-record-drawer {
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.medical-record-drawer h2 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.medical-record-appointment {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.medical-record-appointment-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.medical-record-appointment-detail p,
.medical-record-appointment-detail h4 {
    margin: 0;
}