.clinical-page-banner {
  background-image: url("https://az505806.vo.msecnd.net/cms/59c63bc8-f4bc-4517-a0bf-7ff0e20280c8/23c59995-e4ce-4ff2-8662-ef9b10d421d1.jpg");
  width: 100%;
  height: 400px;
  object-fit: fill;
  align-items: center;
  background-size: cover;
  background-position: center 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clinical-service-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  gap: 30px;
}


.clinical-button {
  /* background-color: #e6d9c9; */
  border: none;
  color: black;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  transition-duration: 0.4s;
}

/* .clinical-button:hover {
    background-color: #45a049;
  }
   */
.selected-content {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
