.booking-service-picker {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.booking-service-picker input {
    border: none;
    outline: none;
    box-shadow: rgba(13, 37, 84, 0.635) 0px 1px;
    font-size: 20px;
    width: 400px;
    font-weight: bold;
    color: black;
}

.booking-service-picker input:focus {
    box-shadow: rgb(0, 4, 12)0px 1.5px;
}

/* CSS */
.booking-service-picker button {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.booking-service-picker button:before {
  backface-visibility: hidden;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
  border: 0.5px solid black;
  border-radius: 5px;
}

.booking-service-picker button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.booking-service-picker button:after {
  background-color: #FFFFFF;
}

.booking-service-picker button span {
  z-index: 1;
  position: relative;
}

.booking-service-choice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    background: none;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.booking-service-choice div {
    display: flex;
    gap: 10px;
}

.booking-service-choice button {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.757);
  border: 0.5px solid rgb(203, 203, 203);
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 100%;
  padding: 14px 22px;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.booking-service-choice button:active,
.booking-service-choice button:hover {
  outline: 0;
}

.booking-service-choice button:hover {
  background-color: #FFFFFF;
  border-color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
  .booking-service-choice button {
    font-size: 20px;
    min-width: 200px;
    padding: 14px 16px;
  }
}