.register-form-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-columns {
  display: flex;
  gap: 50px;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}
