.doctor-layout {
    background-image: url('/src/assets/images/background.png');
    min-height: 100vh;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
}

.doctor-layout nav {
    width: 98%;
    padding: 15px;
    background: rgba(255, 255, 255, 0.682);
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.doctor-nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.doctor-nav-left img {
    height: 40px;
    width: 40px;
    display: flex;
    margin-right: 10px;
}

.doctor-nav-left span {
    font-size: 18px;
    font-weight: bold;
}

.doctor-nav-right img {
    height: 40px;
    width: 40px;
    margin-right: 40px;
    border-radius: 50%;
    object-fit: fill;
}

.doctor-nav-right {
    position: relative;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-right-book-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    padding: 5px;
    width: 110px;
    border: 0.5px solid black;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
    transition: background 0.4s ease
}

.nav-right-book-button:hover {
    background: black;
    color: white;
}

.nav-right-book-button:hover svg {
    fill: white;
}

.nav-right-book-button svg {
    width: 20px;
}

.nav-right-dropdown {
    position: relative;
}

.nav-right-dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background 0.4s ease;
    border-radius: 7px;
}

.nav-right-dropdown-toggle:hover {
    background: rgb(230, 230, 230);
}

.nav-right-dropdown-menu {
    position: absolute;
    right: left;
    background-color: white;
    border: 1px solid #ccc;
    width: 130px;
    margin-top: 3px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.nav-right-dropdown-item {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.nav-right-dropdown-item:hover {
    background-color: #e9e9e9;
}

.nav-right-dropdown-item:first-child:hover {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.nav-right-dropdown-item:last-child:hover {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}