.service-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-display-header h1 {
    font-size: 45px;
    margin: 20px 0px 20px 0px
}

.service-display-header p {
    font-weight: bold;
}

.service-display-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 30px;
}

.service-display-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 320px;
    height: 100%;
    background: #0d2554;
    border-radius: 7px;
    gap: 10px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.service-display-item:hover {
    background: #14326e;
}

.service-display-item:hover h3 {
    text-decoration: underline;
}

.service-display-item:hover img {
    width: 330px;
}

.service-item-image img {
    height: 170px;
    width: 320px;
    object-fit: cover;
    border-radius: 7px;
    transition: height 0.3s ease;
    transition: width 0.3s ease;
}

.service-item-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 0px 20px 0;
}

.service-item-content h3 {
    font-size: 23px;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
}

.service-item-description {
    width: 250px;
}

.service-page-extra {
    display: flex;
    flex-direction: row;
    background: #fef6e9;
    padding: 20px 20px 0px 20px;
    text-align: left;
    position: relative;
    justify-content: space-evenly;
    margin-top: 90px;
}

.service-page-extra-left {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}

.service-page-extra-left h2 {
    font-size: 35px; 
    text-align: center;
}

.service-page-extra-left-content {
    gap: 10px;
}

.service-page-extra-left a {
    align-items: center;
    background: #fff2f1;
    border: 0.5px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    width: 150px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 50px;
    text-decoration: none;
    transition: background ease 0.3s;
}

.service-page-extra-left a:hover {
    background-color: #fededc;
}

.service-page-extra-left a:active {
    background-color: #ffe8e6;
    outline: 0;
}

.rabbit-image {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
    margin-top: 30px;
}

