.user-profile-pet-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.user-profile-pet-top {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.user-profile-pet-top button {
    width: auto;
    background: none;
    border: none;
    border-radius: 7px;
    display: flex;
    border: 0.5px solid rgba(0, 0, 0, 0.575);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.user-profile-pet-top button:hover {
    background: rgb(37, 37, 37)
}

.user-profile-pet-top button:hover svg {
    fill: white;
}

.user-profile-pet-container h1 {
    color: black;
    margin: 0;
}

.user-profile-pet-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}