.appointment-rate-button {
    margin-top: 10px;
    width: 80px;
    height: 30px;
    background: none;
    border: 0.5px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
    cursor: pointer
}

.appointment-rate-button:hover {
    background: black;
    color: white;
}

.appointment-rate-button:hover svg {
    fill: white;
}